<div class="inventory-container">
    <h1>Delete <%= inv_make %> <%= inv_model %></h1>
    <p class="form-note">- Confirm Deletion -</p>
    <p class="form-note">This action cannot be undone</p>
    
    <% if (Array.isArray(messages) && messages.length > 0) { %>
        <div class="flash-messages">
          <% messages.forEach(message => { %>
            <p><%= message %></p>
          <% }) %>
        </div>
    <% } %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <form action="/inv/delete" method="POST">
        <label for="inv_make">Make:</label>
        <input type="text" id="inv_make" name="inv_make" value="<%= inv_make %>" readonly>
        <label for="inv_model">Model:</label>
        <input type="text" id="inv_model" name="inv_model" value="<%= inv_model %>" readonly>
        <label for="inv_year">Year:</label>
        <input type="number" id="inv_year" name="inv_year" value="<%= inv_year %>" readonly>
        <label for="inv_price">Price:</label>
        <input type="number" id="inv_price" name="inv_price" value="<%= inv_price %>" readonly>
        <button type="submit">Delete Vehicle</button>
        <input type="hidden" name="inv_id" value="<%= inv_id %>">
    </form>
</div>

